$color: rgb(241, 20, 20);
$background: rgba(235, 235, 20, 0.651);
body {
  font-family: helvetica;
  color: $color;
}

.container {
  border: 1px solid $color;
  h1 {
    border: 1px solid $color;
    text-align: center;
    background-color: $background;
  }
  .cunt {
    color: $color;
  }
}

$primaryColor: red;
.navbar {
  color: $primaryColor;
}
